//main scss
$placeholderColor: #c3c2c2;

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f5f4f4;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.clear {
    clear: both;
}

::-webkit-input-placeholder { /* Chrome */
  color: $placeholderColor;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholderColor;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholderColor;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $placeholderColor;
  opacity: 1;
}

.app-container {
    
    display: flex;
    flex-direction: column;

    .container {
        $fontSize: 36px;
        padding: 40px 20px;
        font-size: $fontSize;
        
        * {
            font-size: 36px;
        }

        select {
            float: left;
        }

        input, label {
            float: right;
        }

        input {
            width: calc(100% - 114px);
            text-align: right;
            background: transparent;
            border: none;
        }
    }
    
    .base-currency-wrapper {
        background-color: white;
    }

    .transfered-currency-wrapper {
        flex-grow: 1;
        position: relative;
    }

    .rate-box-wrapper {
        position: absolute;
        text-align: center;
        width: 100%;
        top: -22px;
        
        .rate-box {
            padding: 10px;
            border-radius: 5px;
            border: solid 1px #dad9d9;
            background: white;
            text-align: center;
            color: #5792c5;
            display: inline-block;
        }
    }

    .exchange-btn {
        position: fixed;
        width: 90%;
        padding: 15px;
        background: #e42f4e;
        color: white;
        text-align: center;
        bottom: 15px;
        left: 5%;
        border-radius: 24px;
        font-size: 20px;
    }
}